html {font-family: Roboto;margin:0;padding:0;border:0;font-weight: 300;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;/*font-size:100%*/;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {background:#191919; position: relative; color: #fff}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a{outline: none; text-decoration: none; display: block;}
a img {border:none; text-decoration: none;}
:focus {outline:0;}

@-ms-viewport {
    width: device-width;
}
  
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

/* хром, сафари */
.element::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.element { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element { overflow: -moz-scrollbars-none; }

*,
*::before,
*::after {
  box-sizing: inherit;
}
.text-accent{
    color: rgb(209, 47, 34);
}

input, select, textarea {
    display: block;
    min-width: 400px;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 3px 5px;
    font-size: 24px;
    margin: 0px auto 10px auto;
    outline: none;
    background-color: #000;
    color: #fff;
    transition: 0.35s;
}
input:hover, input:active, select:hover, select:active, textarea:hover, textarea:active{
	border-bottom: 2px solid #d12f24;
}
input:focus {
	border-bottom: 2px solid #d12f24;
}
input[type=button]{
	cursor: pointer;
	border: 1px solid black;
    border-radius: 3px;
}
input[type=button]:focus{
	border-bottom: 2px solid #553434;
}
input[type=button]:hover{
	cursor: pointer;
	background-color: #553434;
    color: white;
}

ul{list-style-type: none;}

.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
}
.clearfix:after{clear: both;}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.overlay{
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: 4px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.175);
}
.error, .success{
    text-align: center;
}
.error{
    color: red;
}
.success{
    text-align: center;
}
.mid{
    margin: 10px auto;
}
/* index.html */
#content{
    display: none;
}
.nav{
    width: 100%;
    /* background: linear-gradient(#2424248a, #5534348a, #2424248a, transparent) ; */
    background-color: rgba(70,70,70,.6);
    border-bottom: 1px solid #000;
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 1;

}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 85px;
    width: 90%;
}
.adress, .logo, .num{
    font-size: 19px;
    color: #fff;
}
.nav .container .adress{
    background: url(../images/top_map.png) left center no-repeat;
    padding-left: 45px;
}
.nav .container .logo{
    position: relative;
    top: 40px;
}
.nav .container .logo img{
    width: 350px;
}
.nav .upper{
    text-transform: uppercase;
    color: rgb(209, 47, 34);
    font-size: 21px;
}
.top-img{
    position: relative;
    overflow: hidden;
    margin-bottom: -4px;
}
.top-img .slogan{
    position: absolute;
    left: 0;
    right: 0;
    top: 135px;
    font-size: 35px;
    z-index: 1;
}
.top-img img{
    width: 100%;
    max-height: 700px;
    min-height: 300px;
    min-width: 800px;
    overflow-y: hidden;
}
.main-part .row{
    display: flex;
    position: relative;
    flex-direction: row;
}
.menu-bar{
    width: 100%;
    background: linear-gradient(#242424 20%, rgb(209, 47, 34), #242424 80%);
}
.menu-bar .menu{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.menu-bar .menu li{
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    border-left: #3B3B3B 1px solid;
    margin-right: -4px;
    text-transform: uppercase;
    transition: 0.35s;
}
.menu-bar .menu li i{
    margin-right: 8px;
}
.menu-bar .menu li:last-child{
    border-right: #3B3B3B 1px solid;
}
.menu-bar .menu li:hover{
    cursor: pointer;
    background: #050505;
    box-shadow: 8px 14px 10px -2px rgba(0,0,0,0.5);
}
.menu-bar .menu .active{
    background: #191919;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 500;
    padding-top: 25px;
}
/* footer */
.footer{
    background-color: #2A2A2A;
    color: #fff;
    padding: 15px 0;
    font-size: 20px;
}
.footer .container{
    width: 70%;
}
.footer .row{
    align-items: center;
    text-align: center;
}
.footer h3 i{
    padding-right: 8px;
}
.footer .menu{
    display: block;
    margin: 0 auto;
}
.footer .menu li{
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    margin-right: -4px;
    text-transform: uppercase;
    transition: 0.35s;
}
.footer .menu li:hover{
    background: #353535;
    box-shadow: 8px 14px 10px -2px rgba(0,0,0,0.5);
}
.footer .menu .active{
    text-decoration: underline;
}
/* footer */
/* index.html */




/* main.html */
.service-item{
    position: relative;
    text-align: center;
    margin: 30px 0;
    height: 250px;
    border: 1px solid #353535;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.35s;
}
.service-item:hover{
    background-color: #353535;
    box-shadow: 8px 14px 10px -2px rgba(0,0,0,0.5);
}
.service-item:hover p{
    text-decoration: underline;
}
.service-item .service-item-dropdown{
    position: absolute;
    bottom: 0;
}
.service-item .service-item-img{
    height: 200px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.service-item .service-item-img img{
    width: 60%;
}
.service-item .service-item-img p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px;
    font-size: 18px;
    font-weight: 500;
}
.service-item .service-item-trigger{
    position: absolute;
    left: 0;
    right: 0;
    padding: 8px;
    bottom: 0px;
    border-top: 1px solid #353535;
    color: rgb(209, 47, 34);
}
.service-item-text{
    display: none;
    position: absolute;
    background: #191919;
    padding: 8px;
    border: 1px solid #fff;
    z-index: 999;
}
.white-section{
    background: #ffffff;
    padding: 25px 0;
    color: black;
    text-align: center;
}
.white-section p{
    font-size: 19px;
}
/* slider */
#block-for-slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/3);
    list-style: none;
    display: inline;
    float: left;
    text-align: center;
}

.slide-img {
    width: 90%;
    max-height: 700px;
}

/* controls*/
#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}
#prev-btn:after, #next-btn:after {
    display: inline-block;
    position: absolute;
    content: '';
    top: 18px;
    background: transparent;
    height: 15px;
    width: 15px;
    border: none;
    border-top: 1px solid #000;
}

#prev-btn:after {
    border-left: 1px solid #000;
    left: 20px;
    transform: rotate(-45deg);
}

#next-btn:after {
    border-right: 1px solid #000;
    right: 20px;
    transform: rotate(45deg);
}

/* slider */
/* main.html */
/* clientForm.html */
#clientForm{
    margin-bottom: 32px;
}
/* clientForm.html */
@media (max-width: 1000px){
    .logo{
        display: none;
    }
}
/* preloader */
#loading{
	background:rgba(19, 19, 19, .8);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
    top: 0px;
    display: none;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 200px;
	margin-top: -25px;
	margin-left: -100px;
}
.object{
	width: 20px;
	height:20px;
	background-color: rgb(209, 47, 34);
	float: left;
    margin-top: 15px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}
#first_object{
	-webkit-animation: first_object 2s infinite;
	animation: first_object 2s infinite;
 
}
#second_object{
	-webkit-animation: second_object 2s infinite;
	animation: second_object 2s infinite;
}
@-webkit-keyframes first_object {

 25% {
    -ms-transform: translate(90px,0) scale(2); 
   	-webkit-transform: translate(90px,0) scale(2);
    transform: translate(90px,0) scale(2);
	 }

 50% {
    -ms-transform: translate(180px,0) scale(1); 
   	-webkit-transform: translate(180px,0) scale(1);
    transform: translate(180px,0) scale(1);
	 }	 
 
  75% {
     -ms-transform: translate(90px,0) scale(2); 
   	-webkit-transform: translate(90px,0) scale(2);
    transform: translate(90px,0) scale(2);
	 }	 
 
}		
@keyframes first_object {

 25% {
    -ms-transform: translate(90px,0) scale(2); 
   	-webkit-transform: translate(90px,0) scale(2);
    transform: translate(90px,0) scale(2);
	 }

 50% {
    -ms-transform: translate(180px,0) scale(1); 
   	-webkit-transform: translate(180px,0) scale(1);
    transform: translate(180px,0) scale(1);
	 }	 
 
  75% {
     -ms-transform: translate(90px,0) scale(2); 
   	-webkit-transform: translate(90px,0) scale(2);
    transform: translate(90px,0) scale(2);
	 }	 
 

}
@-webkit-keyframes second_object {

 25% {
    -ms-transform: translate(-90px,0) scale(2); 
   	-webkit-transform: translate(-90px,0) scale(2);
    transform: translate(-90px,0) scale(2);
	 }

 50% {
    -ms-transform: translate(-180px,0) scale(1); 
   	-webkit-transform: translate(-180px,0) scale(1);
    transform: translate(-180px,0) scale(1);
	 }	 
 
  75% {
     -ms-transform: translate(-90px,0) scale(2); 
   	-webkit-transform: translate(-90px,0) scale(2);
    transform: translate(-90px,0) scale(2);
	 }	 
 

}		
@keyframes second_object {

 25% {
    -ms-transform: translate(-90px,0) scale(2); 
   	-webkit-transform: translate(-90px,0) scale(2);
    transform: translate(-90px,0) scale(2);
	 }

 50% {
    -ms-transform: translate(-180px,0) scale(1); 
   	-webkit-transform: translate(-180px,0) scale(1);
    transform: translate(-180px,0) scale(1);
	 }	 
 
  75% {
     -ms-transform: translate(-90px,0) scale(2); 
   	-webkit-transform: translate(-90px,0) scale(2);
    transform: translate(-90px,0) scale(2);
  }
}
/* preloader */